<a href="https://colab.research.google.com/github/plthiyagu/Personnel/blob/master/Top_3_most_frequently_occurring_words_from_json_using_pandas_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [60]:
df= pd.read_json('https://jsonplaceholder.typicode.com/todos')

In [61]:
df.head()

   userId  id                                              title  completed
0       1   1                                 delectus aut autem      False
1       1   2                 quis ut nam facilis et officia qui      False
2       1   3                                fugiat veniam minus      False
3       1   4                                   et porro tempora       True
4       1   5  laboriosam mollitia et enim quasi adipisci qui...      False

In [62]:
df =df[df['completed']==False]

In [67]:
list(df['title'].str.split(' ').explode().value_counts()[:3].items())

[('et', 28), ('qui', 24), ('aut', 17)]

In [66]:
df['title'].str.split(' ').explode().value_counts().head()

et     28
qui    24
aut    17
est    14
ut     14
Name: title, dtype: int64