<a href="https://colab.research.google.com/github/plthiyagu/Personnel/blob/master/Top_3_most_frequently_occurring_words_from_json_using_pandas_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [43]:
df= pd.read_json('https://jsonplaceholder.typicode.com/todos')

In [44]:
df.head()

   userId  id                                              title  completed
0       1   1                                 delectus aut autem      False
1       1   2                 quis ut nam facilis et officia qui      False
2       1   3                                fugiat veniam minus      False
3       1   4                                   et porro tempora       True
4       1   5  laboriosam mollitia et enim quasi adipisci qui...      False

In [46]:
df[df['completed']==False] df['title'].str.split(' ').explode().value_counts()[:3].items())

     userId   id                                              title  completed
0         1    1                                 delectus aut autem      False
1         1    2                 quis ut nam facilis et officia qui      False
2         1    3                                fugiat veniam minus      False
4         1    5  laboriosam mollitia et enim quasi adipisci qui...      False
5         1    6  qui ullam ratione quibusdam voluptatem quia omnis      False
..      ...  ...                                                ...        ...
185      10  186                              explicabo odio est et      False
186      10  187                        consequuntur animi possimus      False
191      10  192    ut quas possimus exercitationem sint voluptates      False
193      10  194                          sed ut vero sit molestiae      False
199      10  200                       ipsam aperiam voluptates qui      False

[110 rows x 4 columns]

In [59]:
list(df['title'].str.split(' ').explode().value_counts()[:3].items())

[('et', 28), ('qui', 24), ('aut', 17)]